version: '3'

# from https://www.dabbleofdevops.com/blog/setup-a-mysql-python-docker-dev-stack
# docker-compose build; docker-compose up -d

services:

  db:
    image: mysql:5.7
    restart: always
    environment:   # Set up mysql database name and password
      MYSQL_ROOT_PASSWORD: bustime
      MYSQL_DATABASE: buses
      MYSQL_USER: nycbuswatcher
      MYSQL_PASSWORD: bustime
      TZ: America/New_York
    ports:
      - 6033:3306 # n.b this is only for external connections
    volumes:
      - bus_database:/var/lib/mysql

  grabber:
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - db
    volumes:
      - bus_files:/app/data
      - bus_static:/app/api/static
    command:
      # tail -f /dev/null
      /opt/conda/envs/nycbuswatcher/bin/python3 /app/grabber.py

  api:
    restart: always
    build:
      context: .
    volumes:
      - bus_static:/app/app/static
    ports:
      - "80:80"
    environment:
      - FLASK_APP=/app/api.py
      - FLASK_DEBUG=1 #future change this for deployment
      - 'RUN=flask run --host=0.0.0.0 --port=80'
    command: flask run --host=0.0.0.0 --port=80
    # Infinite loop, to keep it alive, for debugging
    # command: bash -c "while true; do echo 'sleeping...' && sleep 10; done"

  # todo dockerize the dash app
  ## follow this https://ldnicolasmay.medium.com/deploying-a-free-dash-open-source-app-from-a-docker-container-with-gunicorn-3f426b5fd5df
#  www:
#    restart: always
#    build:
#      context: .
#    volumes:
#      - bus_assets:/app/assets
#    ports:
#      - "80:80"
#    environment:
#      - FLASK_APP=/app/app.py
#      - FLASK_DEBUG=1 #future change this for deployment
#      - 'RUN=flask run --host=0.0.0.0 --port=80'
#    command: flask run --host=0.0.0.0 --port=80
#    # Infinite loop, to keep it alive, for debugging
#    # command: bash -c "while true; do echo 'sleeping...' && sleep 10; done"


volumes:
  bus_database:
  bus_files:
  bus_static:
  bus_assets: