version: '3'

services:

  acquire:
    restart: always
    build:
      context: .
      dockerfile: ./build/acquire/Dockerfile
    volumes:
      - ./data:/app/data
    command:
      python3 /app/acquire.py

  api:
    restart: always
    build:
      context: .
      dockerfile: ./build/api/Dockerfile
    volumes:
      - ./data:/app/data
    ports:
      - 80:80
    command:
      uvicorn --host=0.0.0.0 --port=80 api:app


  reprocessor:
    restart: always
    build:
      context: .
      dockerfile: ./build/reprocessor/Dockerfile
    volumes:
      - ./data:/app/data
      - ./archives:/app/archives
    command:
      tail -f /dev/null # keep the container alive for me
