# after https://towardsdatascience.com/how-to-deploy-a-secure-api-with-fastapi-docker-and-traefik-b1ca065b100f
# github https://github.com/ahmedbesbes/fastapi-ssl

version: "3"

services:
  api:
    build:
      context: .
      dockerfile: ./build/api/Dockerfile
    restart: always
    # labels:
    #   - traefik.enable=true
    #   - traefik.http.routers.api.rule=Host(`api.buswatcher.org`)
    #   - traefik.http.routers.api.tls=true
    #   - traefik.http.routers.api.tls.certresolver=letsencrypt
    #   # - traefik.port=8000
    volumes:
      - ./data:/app/data

  acquire:
    restart: always
    build:
      context: .
      dockerfile: ./build/acquire/Dockerfile
    volumes:
      - ./data:/app/data
    command:
      python3 /app/acquire.py

#   traefik:
#     image: traefik:v2.3
#     ports:
#       - 80:80 #bug
#       - 443:443
#     restart: always
#     volumes:
#       - /var/run/docker.sock:/var/run/docker.sock:ro
#       - $PWD/build/traefik/traefik.toml:/etc/traefik/traefik.toml
#       - traefik-public-certificates:/certificates

# volumes:
#   traefik-public-certificates:
