version: '3'

services:

#  gandi_dns:
#    image: anthonymobile/gandi-live-dns
#    restart: always
#    environment:
#      - GANDI_API_KEY=$GANDI_API_KEY
#      - GANDI_DOMAIN=$GANDI_DOMAIN
#      - GANDI_SUBDOMAINS=$GANDI_SUBDOMAINS
#
#  # # use for builds
#  #  dyndns:
#  #    restart: always
#  #    build:
#  #      context: ./build/dyndns
#  #      dockerfile: ./Dockerfile

  acquire:
    restart: always
    build:
      context: .
      dockerfile: ./build/acquire/Dockerfile
    volumes:
      - ./data:/app/data
    command:
      python3 /app/acquire.py

  api:
    restart: always
    build:
      context: .
      dockerfile: ./build/api/Dockerfile
    volumes:
      - ./data:/app/data
    ports:
      - 80:80
    # # stack doesnt work if this is uncommented
    # # uncomment to make externally accessible DOESNT WORK
    #    labels:
    #      - "traefik.enable=true"
    #      - "traefik.http.routers.api.rule=Host(`api.localhost`)"
    #      - "traefik.http.routers.api.entrypoints=web"
    command:
      uvicorn --host=0.0.0.0 --port=80 api:app

  #  # non-proxied version
  #  app:
  #    restart: always
  #    build:
  #      context: .
  #      dockerfile: ./build/app/Dockerfile
  #    volumes:
  #      - bus_assets:/app/assets
  #    ports:
  #      - 8000:80
  #    command:
  #      gunicorn --workers=4 --timeout=120 --threads=1 -b 0.0.0.0:8000 --forwarded-allow-ips="*" app:server


  #  # traefik version (doesnt work on cornell EC2)
  #  app:
  #    restart: always
  #    build:
  #      context: .
  #      dockerfile: ./build/app/Dockerfile
  #    volumes:
  #      - bus_assets:/app/assets
  #    labels:
  #      - "traefik.enable=true"
  #      - "traefik.http.routers.app.rule=Host(`app.localhost`,`www.nycbuswatcher.org`)"
  #      - "traefik.http.routers.app.entrypoints=web"
  #      - "traefik.http.services.app.loadbalancer.server.port=8000"
  #    command:
  #      gunicorn --workers=4 --timeout=120 --threads=1 -b 0.0.0.0:8000 --forwarded-allow-ips="*" app:server
  #
  #  # add SSL / let's encrypt traefik config this guide https://www.valentinog.com/blog/traefik/
  #  # after https://kleiber.me/blog/2021/03/23/simple-docker-traefik-python-fastapi-example/
  #  traefik:
  #    image: traefik:latest
  #    command:
  #      - "--api.insecure=true"
  #      - "--providers.docker=true"
  #      - "--entrypoints.web.address=:80"
  #      - "--providers.docker.exposedbydefault=false"
  #    ports:
  #      - "80:80"
  #      - "8080:8080"
  #    volumes:
  #      - /var/run/docker.sock:/var/run/docker.sock:ro
